#banner_head{
    width: 100%;
    .banner_top{
        position: relative;
        img{
            width: 100%;
        }
        p{
            text-align: center;
            color: #ffffff;
            font-weight: bold;
            font-size: 20px;
            position: absolute;
            bottom: .2rem;
            width: 100%;
        }
    }
}