.flm_qb{
    .flm_nr{
        position: relative;
        width: 46%;
        height:3rem;
        margin-bottom: 0.2rem;
        display: inline-block;
        margin-left:0.1rem; 
        img{
            width: 100%;
            height: 2rem;
        }
        .flm_tj{
           margin-bottom: 0.05rem;
           display: block;
           background: red;
           color: aliceblue;
           width: 0.6rem;
           border: 1px solid #000
        }
        h3{
            margin-bottom: 0.05rem;
        }
        .flm_cp{
            margin-bottom: 0.05rem;
        }
        .flm_jg1{
         position: absolute;
        }
        .flm_jg2{
          position: absolute;
          left: 0.5rem;
          text-decoration: line-through;
        }
        .flm_dz{
          position: absolute;
          right: 0
        }

    }
}