header{
    height: .9rem;
    position: absolute;
    width: 100%;
    z-index: 10;
    div.index_head{
        height: .5rem;
        ul{
            display: flex;
            align-items: center;
            height: 100%;
            li{
                a{
                    color: #ac2020;
                }
                span{
                    color: #b41414;
                }
            }
            li:nth-of-type(1){
                display: flex;
                justify-content: center;
                align-items: center;
                width: .5rem;
                height: 100%;
            }
            li:nth-of-type(2){
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(255,255,255,.4);
                height: .35rem;
                border-radius: .3rem;
            }
            li:nth-of-type(3){
                display: flex;
                justify-content: center;
                align-items: center;
                width: .5rem;
                height: 100%;
            }
        }
    }
    div.index_nav{
        overflow-x: scroll;
        height: .4rem;
        ul{
            display: flex;
            align-items: center;
            height: 100%;
            width: 4.3rem;
            li{
                height: 100%;
                padding: 0 .1rem;
                line-height: .4rem;
                a{
                    color: #af1212;
                    padding-bottom: .05rem;
                }
                a.active{
                    border-bottom: 2px solid #854141;
                }
            }
        }
    }
}
header.fixed{
    position: fixed;
    top:0;
    background: #ffffff;
    width: 100%;
    div.index_head{
        ul{
            li{
                a{
                    color: #333333;
                }
                span{
                    color: #333333;
                }
            }
            li:nth-of-type(2){
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(0,0,0,.05);
                height: .35rem;
                border-radius: .3rem;
            }
        }
    }
    div.index_nav{
        a{
            color: #333333;
        }
        a.active{
            border-bottom: 2px solid #333;
        }
    }
}